
/*  [START] - RESET THEME */
    html, body {
        height: 100% !important;
    }

    .bg-primary {
        background-color: #385074 !important;
    }
    .bg-secondary {
        background-color: #405a7c !important;
    }
    .bg-light {
        background-color: #eeecec !important;
    }
/*  [FINISH] - RESET THEME */


/*  [START] - SIDEBAR MENU  */
    img#logo {
        max-width: 50px;
    }
    aside#sidebar {
        position: sticky;
        position: -webkit-sticky; /* Safari */
        top: 0;
        z-index: 1000;
        height: 100vh;
    }
    a.nav-link:hover {
        background-color: #385074 !important;
        color: white !important;
    }

    .min-h-top {
        min-height: 100px !important;
    }

/*  [FINISH] - SIDEBAR MENU  */


/*  [START] - MAIN CONTENT  */
    .pokeDetails:first-child {
        padding-left:0 !important;
    }
    .pokeDetails:last-child {
        padding-right:0 !important;
    }
    .linkPokeDetails:hover {
        text-decoration: none;
    }
    .card:hover {
        border-color: #385074;
        transition: .3s;
    }
/*  [FINISH] - MAIN CONTENT  */


/*  [START] - MEDIA SCREEN LG  */
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: block !important;
        flex-basis: auto;
    }
}

/*  [START] - MEDIA SCREEN MD  */
    @media only screen and (max-width: 768px) {
        aside#sidebar {
            position: relative;
            top: 0;
            z-index: 1000;
            height: auto;
            border-bottom: 1px solid #385074;
        }
        .pokeDetails {
            padding: 15px 0  !important;
        }

        .min-h-top {
            min-height: 50px !important;
        }
    }
/*  [FINISH] - MEDIA SCREEN MD  */